[submodule "Libraries/pthread-win32"]
	path = Libraries/pthread-win32
	url = https://github.com/GerHobbelt/pthread-win32.git
[submodule "JUCE"]
	path = Libraries/JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "Libraries/pure-data"]
	path = Libraries/pure-data
	url = https://github.com/pure-data/pure-data.git
[submodule "Libraries/readerwriterqueue"]
	path = Libraries/readerwriterqueue
	url = https://github.com/cameron314/readerwriterqueue.git
[submodule "Libraries/concurrentqueue"]
	path = Libraries/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
