[submodule "Libraries/libpd"]
	path = Libraries/libpd
	url = https://github.com/timothyschoen/libpd.git
        branch = plugdata
[submodule "Libraries/JUCE"]
	path = Libraries/JUCE
	url = https://github.com/timothyschoen/JUCE.git
[submodule "Libraries/pthread-win32"]
	path = Libraries/pthread-win32
	url = https://github.com/GerHobbelt/pthread-win32.git
