[submodule "JUCE"]
	path = Libraries/JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "Libraries/pure-data"]
	path = Libraries/pure-data
	url = https://github.com/plugdata-team/plugdata-pd
[submodule "Libraries/Catch2"]
	path = Libraries/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "Libraries/heavylib"]
	path = Libraries/heavylib
	url = https://github.com/Wasted-Audio/heavylib.git
[submodule "Libraries/pd-lua"]
	path = Libraries/pd-lua
	url = https://github.com/timothyschoen/pd-lua
[submodule "Libraries/clap-juce-extensions"]
	path = Libraries/clap-juce-extensions
	url = https://github.com/free-audio/clap-juce-extensions.git
[submodule "Libraries/filesystem"]
	path = Libraries/filesystem
	url = https://github.com/boostorg/filesystem.git
[submodule "Libraries/cpath"]
	path = Libraries/cpath
	url = https://github.com/BraedonWooding/cpath
[submodule "Libraries/plugdata-ofelia"]
	path = Libraries/plugdata-ofelia
	url = https://github.com/plugdata-team/plugdata-ofelia
[submodule "Libraries/pd-else"]
	path = Libraries/pd-else
	url = https://github.com/timothyschoen/pd-else.git
[submodule "Libraries/juce-raw-keyboard-input-module"]
	path = Libraries/juce-raw-keyboard-input-module
	url = https://github.com/izzyreal/juce-raw-keyboard-input-module.git
[submodule "./JUCE"]
	url = https://github.com/plugdata-team/JUCE.git
[submodule "Libraries/readerwriterqueue"]
	path = Libraries/readerwriterqueue
	url = https://github.com/cameron314/readerwriterqueue.git
[submodule "Libraries/concurrentqueue"]
	path = Libraries/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
[submodule "Libraries/melatonin_blur"]
	path = Libraries/melatonin_blur
	url = https://github.com/sudara/melatonin_blur.git
